<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link  rel="icon" href="/images/favicon-16x16.png">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Pokedex API</title>
</head>

<body>
    <div id="app">
        <audio autoplay id="SoundTrack" src="/sounds/Soundtrack.mp3" loop ref="audio"></audio>  
    
        <button @click="toggleMute()" class="btn-mute">{{ isMuted ? 'Desmutar🔊' : 'Mutar🔇' }}</button>

        <div class="search-container">
            <div class="titulo">
                <h1>POKEDEX</h1>
                <h2>Vá para baixo para descobrir novos pokemons :)</h2>
            </div>

            <div class="search-bar">
                <input type="text" placeholder="Digite o nome do Pokémon" v-model="searchText" @keyup.enter="searchPokemon">
                <button class="btn" @click="searchPokemon">Buscar🔍</button> 
                <button class="btn" @click="clearSearch">Limpar🧹</button>
            </div>
        </div>
    
        <div v-if="searchedPokemon">
            <ul>
                <li :style="getPokemonStyle(searchedPokemon)">
                    <div class="pokemon-card">
                        <p>{{  pokemon.id }} - {{ searchedPokemon.name }}</p>
                        <div class="pokemon-img">
                            <img :src="searchedPokemon.sprites.other.showdown.front_default">
                        </div>
                        <p>{{ searchedPokemon.types[0].type.name }}</p>
                        <p v-if="searchedPokemon.types.length > 1">{{ searchedPokemon.types[1].type.name }}</p>
                        <p>Weight: {{(pokemon.weight * 0.45359237).toFixed(0)}} Kg</p>
                    </div>
                </li>
            </ul>
        </div>
    
        <div class="pokemon-container">
            <ul>
                <li v-for="pokemon in filteredPokemons" :key="pokemon.id" :style="getPokemonStyle(pokemon)">
                    <div class="pokemon-card">
                        <p>{{  pokemon.id }} - {{ (pokemon.name).toUpperCase() }}</p>
                        <div class="pokemon-img">
                            <img :src="pokemon.sprites.other.showdown.front_default">
                        </div>
                        <p>{{ (pokemon.types[0].type.name).toUpperCase() }}</p>
                        <p v-if="pokemon.types.length > 1">{{ (pokemon.types[1].type.name).toUpperCase() }}</p>
                    </div>
                </li>
            </ul>
        </div>
    
        <div class="loading">
            <h1 v-if="loading">Loading...</h1>
        </div>
    </div>
    
    <script src="/js/index.js"></script>
</body>
</html>
